.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-wrapper {
  height: 872px;
  max-width: 100%;
  background: url("../img/header_bg.jpg");

  .img_header {
    width: 147px;
    height: 147px;
    left: 926px;
    top: 187px;
    border-radius: 70px;
    background: url("../img/guy.jpg");
    margin: 150px auto 64px;
    box-shadow: 0 0 5px 5px #b2ceff, 0 0 5px 15px #2c76f6;
    // box-shadow: 0 0 5px 15px #2c76f6;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 30px;
    // right: 30px;

    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  .burger_line {
    background: rgba(25, 66, 119, 0.2);
    height: 1px;
    width: 250px;
  }
  .burger_link {
    margin: 0px 23px;
  }

  .title {
    margin: 0 auto;
    width: 858px;
    height: 112px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 56px;
    /* or 112% */

    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;

    color: #ffffff;
  }
  p {
    margin: 16px auto 56px;
    width: 775px;
    height: 64px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }

  .button {
    margin: 56px 0 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 0;
    width: 187px;
    height: 56px;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #3695ff;
  }
  .darr {
    font-size: 300%;
    width: 21px;
    height: 36px;
    opacity: 0.4;
  }
}
.about_me {
  margin: 80px 0 32px;
  height: 348px;
  max-width: 100%;
  background: #ffffff;
  .title {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;

    color: #565656;
  }
  .text {
    margin: 0 auto;
    // width: 1047px;
    height: 96px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    text-align: center;

    color: #5a5a5a;
  }
}
